@import "tailwindcss";

@theme {
  --color-primary: oklch(70.53% 0.1769 54.97);
  --color-secondary: oklch(76.11% 0.1421 50.87);
  --container-center: true;
}

:root {
  --container-padding: 2rem;
}

@media (width >= 640px) {
  :root {
    --container-padding: 2rem;
  }
}

@media (width >= 1024px) {
  :root {
    --container-padding: 4rem;
  }
}

@media (width >= 1280px) {
  :root {
    --container-padding: 5rem;
  }
}

@layer base {
  .container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}